# Ignore everything
*
**/*/

# Don't ignore these folders
!lib/
!lib/**
!assets/
!assets/**

# Don't ignore gitignore
!.gitignore

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.DS_Store