name: Memento
description: "personal assistant app"
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.1.7

environment:
  sdk: ^3.7.0

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  image_picker: ^1.1.2
  path_provider: ^2.1.5
  permission_handler: ^11.3.0
  archive: ^3.4.10
  universal_platform: ^1.0.0+1
  uuid: ^4.3.3
  shared_preferences: ^2.5.3
  collection: ^1.17.0
  audioplayers: 6.5.0
  webdav_client: ^1.2.1
  dio: ^5.4.1
  cupertino_icons: ^1.0.8
  logging: ^1.2.0
  path: ^1.8.3
  file_picker: ^6.1.1
  table_calendar: ^3.0.9
  flutter_quill: ^11.0.0
  flutter_quill_extensions: ^11.0.0
  intl: ^0.20.2
  flutter_colorpicker: ^1.1.0
  provider: ^6.1.1
  reorderable_grid_view: ^2.0.0
  url_launcher: ^6.2.5
  crop_your_image: ^2.0.0
  fl_chart: ^0.66.2
  package_info_plus: ^8.3.0
  image: ^4.1.3
  mime: ^1.0.6
  http: ^1.3.0
  photo_view: ^0.15.0
  share_plus: ^10.1.4
  record: ^6.0.0
  flutter_staggered_grid_view: ^0.7.0
  openai_dart: ^0.4.5
  event: ^3.1.0
  flutter_local_notifications: ^19.1.0
  syncfusion_flutter_calendar: ^29.1.41
  device_calendar: ^4.3.2
  timeago: ^3.7.1
  location: ^8.0.1
  fs_shim: ^2.4.0
  flutter_foreground_task: ^9.1.0
  flutter_shortcut_plus: ^1.0.1
  video_player: ^2.9.2
  video_player_win: ^3.2.1
  restart_app: ^1.3.2
  adaptive_theme: ^3.7.0
  flutter_js: ^0.8.1
  flutter_image_compress: ^2.3.0
  json_dynamic_widget: ^12.0.0
  flutter_markdown: ^0.7.4  # For agent_chat plugin Markdown rendering

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1

dependency_overrides:
  # Waiting for https://github.com/Lyokone/flutterlocation/issues/1031
  location_web:
    git:
      url: https://github.com/Lyokone/flutterlocation
      path: packages/location_web
      ref: location-v8.0.1
  timezone: ^0.10.0
  file_picker:
    git:
      url: https://github.com/miguelpruivo/flutter_file_picker.git
      ref: master

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  
  generate: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/audio/msg_sended.mp3
    - assets/icon/icon.png
    - assets/images/image_not_found.jpg
    - lib/screens/js_console/examples/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "assets/icon/icon.png"
    background_color: "#hexcode"
    theme_color: "#hexcode"
  windows:
    generate: true
    image_path: "assets/icon/icon.png"
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/icon/icon.png"
