<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.floating_ball_plugin">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service
            android:name=".FloatingBallService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="floating_ball_overlay" />
        </service>
    </application>
</manifest>
